/* 工具类
   ========================================================================== */

// 各种设备字体大小保持一致
@mixin font-size($font-size){
  font-size: $font-size;
  [data-dpr='2'] &{font-size: $font-size * 2};
  [data-dpr='3'] &{font-size: $font-size * 3};
}

// 最多显示一行, 超出用'...'显示
@mixin clamp-one(){
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// 最多显示n行, 超出用'...'显示
@mixin clamp-n($n){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $n;
}

// z-index
@function z-index($key) {
  @return map-get($z-index, $key);
}
@mixin z-index($key) {
  z-index: z-index($key);
}

/* 主题类
   ========================================================================== */

// background
@mixin bgc-type($type) {
  @each $theme in $themes {
    [data-theme=#{map-get($theme, name)}] &{background: map-get($theme, $type);};
  }
}

// color
@mixin ftc-type ($type) {
  @each $theme in $themes {
    [data-theme=#{map-get($theme, name)}] &{color: map-get($theme, $type);};
  }
}

// border
//@mixin bd-type ($type, $direct: bottom, $size: 1px, $shape: solid) {
//  @each $theme in $themes {
//    [data-theme=#{map-get($theme, name)}] &{
//      border-#{$direct}: $size $shape map-get($theme, $type);
//    };
//  }
//}

// 字体颜色1
//@mixin ft-color () {
//  @each $theme in $themes {
//    [data-theme=#{map-get($theme, name)}] &{color: map-get($theme, ft-color);};
//  }
//}

// 主体颜色
//@mixin bgc-sub () {
//  @each $theme in $themes {
//    [data-theme=#{map-get($theme, name)}] &{background: map-get($theme, bgc-sub);};
//  }
//}

// 字体颜色2
//@mixin ft-sub-color () {
//  @each $theme in $themes {
//    [data-theme=#{map-get($theme, name)}] &{color: map-get($theme, ft-sub-color);};
//  }
//}

// 选中字体颜色
//@mixin ft-color-active () {
//  @each $theme in $themes {
//    [data-theme=#{map-get($theme, name)}] &{color: map-get($theme, ft-color-active);};
//  }
//}

// 边框颜色
//@mixin bd-color () {
//  @each $theme in $themes {
//    [data-theme=#{map-get($theme, name)}] &{background: map-get($theme, ft-color-active);};
//  }
//}
